{
  "openapi": "3.0.3",
  "info": {
    "title": "New Spec - OpenAPI 3.0",
    "description": "This is a sample description about this spec.",
    "termsOfService": "",
    "contact": {
      "email": ""
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.0"
  },
  "externalDocs": {
    "description": "Find out more about spec",
    "url": ""
  },
  "servers": [
    {
      "url": "https://console.flecs.tech",
      "description": ""
    }
  ],
  "tags": [
    {
      "name": "Default",
      "description": ""
    }
  ],
  "paths": {
    "/api/v2/auth/validate": {
      "parameters": [],
      "post": {
        "description": "",
        "meta": {
          "element": "",
          "originalPath": "https://console.flecs.tech/api/v2/auth/validate"
        },
        "operationId": "post-api-v2-auth-validate",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "example-0001": {
                  "value": {
                    "jwt": {
                      "token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI..."
                    }
                  }
                }
              },
              "schema": {
                "additionalProperties": false,
                "properties": {
                  "jwt": {
                    "additionalProperties": false,
                    "properties": {
                      "token": {
                        "type": "string"
                      }
                    },
                    "required": [],
                    "title": "Jwt",
                    "type": "object"
                  }
                },
                "required": [],
                "title": "APIV2AuthValidatePostRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "example-0001": {
                    "value": {
                      "data": {
                        "feature_flags": {
                          "ff": {
                            "isVendor": false,
                            "isWhitelabeled": false
                          }
                        },
                        "isValid": true
                      },
                      "statusCode": 200,
                      "statusText": "OK"
                    }
                  }
                },
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "data": {
                      "additionalProperties": false,
                      "properties": {
                        "feature_flags": {
                          "additionalProperties": false,
                          "properties": {
                            "ff": {
                              "additionalProperties": false,
                              "properties": {
                                "isVendor": {
                                  "type": "boolean"
                                },
                                "isWhitelabeled": {
                                  "type": "boolean"
                                }
                              },
                              "required": [],
                              "title": "Ff",
                              "type": "object"
                            }
                          },
                          "required": [],
                          "title": "FeatureFlags",
                          "type": "object"
                        },
                        "isValid": {
                          "type": "boolean"
                        }
                      },
                      "required": [],
                      "title": "Data",
                      "type": "object"
                    },
                    "statusCode": {
                      "type": "integer"
                    },
                    "statusText": {
                      "type": "string"
                    }
                  },
                  "required": [],
                  "title": "APIV2AuthValidatePostResponse",
                  "type": "object"
                }
              }
            },
            "description": "Item created"
          }
        },
        "summary": "Create api validate",
        "tags": [
          "Default"
        ]
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {}
  }
}